*{
    font-family: 'Kumbh Sans';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: hsl(185, 75%, 39%);
}
.parent{
    width: 350px;
    height: 380px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.parent > img:nth-of-type(1){
    border-radius: 10px 10px 0px 0px;
    width: 350px;
    height: 140px;
}
.parent >  img:nth-of-type(2){
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px white solid;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 36%;
}
h1{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
    color: hsl(229, 23%, 23%);
}
span:nth-of-type(1){
    color: hsl(0, 0%, 59%);
    margin-left: 5px;
    font-weight: 400;
}
.parent > p:nth-of-type(1){
    text-align: center;
    color: hsl(0, 0%, 59%);
    margin: 10px 0px;
}
.bottom{
    width: 350px;
    height: 100px;
    border-top: 1.5px solid hsl(0deg 0% 62% / 48%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 15px auto 0px;
}
.top{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 7px;
    color: hsl(229, 23%, 23%);
}
.down{
    font-size: 13px;
    color: hsl(0, 0%, 59%);
}
@media (max-width:376px){
    .parent{
        width: 340px;
        height: 380px;
        background-color: white;
        margin: 10px auto;
        /* position: absolute; */
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translate(-50% , -50%); */
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    
    }
    .parent >  img:nth-of-type(1){
        border-radius: 10px 10px 0px 0px;
        width: 340px;
        height: 140px;
    }
    .parent >  img:nth-of-type(2){
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px white solid;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 36%;
    }
    h1{
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-top: 70px;
        color: hsl(229, 23%, 23%);
    }
    span:nth-of-type(1){
        color: hsl(0, 0%, 59%);
        margin-left: 5px;
        font-weight: 400;
    }
    .parent > p:nth-of-type(1){
        text-align: center;
        color: hsl(0, 0%, 59%);
        margin: 10px 0px;
    }
    .bottom{
        width: 340px;
        height: 100px;
        border-top: 1.5px solid hsl(0deg 0% 62% / 48%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 15px auto 0px;
    }
    .top{
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 7px;
        color: hsl(229, 23%, 23%);
    }
    .down{
        font-size: 13px;
        color: hsl(0, 0%, 59%);
    }
}